[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arithmetic-dice-roller = ">=0.3.3"
async-timeout = "*"
"discord.py" = {extras = ["voice"], version = "*"}
pymongo = "*"
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.11"
