[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arithmetic-dice-roller = "*"
pymongo = "*"
"discord.py" = {extras = ["voice"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
